
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppons', sans-serif;
    box-sizing: border-box;
}


.hero {
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
}

nav {
    background-color: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Foodtrack {
    width: 120px;
}

.user {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

nav ul {
    width: 100%;
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    color: #ffcc00;
    text-decoration: underline;
}

.sub-menu-warp {
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-warp.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h3 {
    font-weight: 500;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-warp hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link {
    width: 100%;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}
/* 
.container {
    position: relative;
    width: 1100px;
    display: flex;
    align-items: row-reverse;
    flex-wrap: wrap;
    padding: 30px;
    margin: 8% auto 0; }


/* .container .card {
    width: 1000px;
    position: relative;
    height: 400px;
    background: #029d21;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    
    box-shadow: 0.5px 10px #e6e6e6;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
} */
/* 
.container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rbga (0, 0, 0, 1.2);
}

.container .card .imgBx img {
    max-width: 80%;
    border-radius: 10px;
}

.imgBx:hover img {
    transform: scale(1.1);
} */








